<header id="page" class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    @if (ViewData.ContainsKey("Title"))
                    {
                        <h1>@ViewData["Title"]</h1>
                        <hr class="small" />
                    }

                    @if (ViewData.ContainsKey("Subtitle"))
                    {
                        <span class="subheading">@ViewData["Subtitle"]</span>
                    }
                </div>
            </div>
        </div>
    </div>
</header>
